{% extends "base.html"%}
{% block title %}Home{% endblock%}
{% block content %}
    <div class="blockquote text-center">
        <h1 class="mb-0"> Vision Based Attendance Analyser </h1>
    </div>
    
        <p>This Project..</p>
        <h2>University</h2>
        <p>For the UoR...</p>
        <h3>Who made it</h3>
        <p>Made by vj017877</p>
        <h4>Context</h4>
        <p>I don't even know at this point</p>
        <h5>Why</h5>
        <p>I think I'm having too much fun</p>
        
        
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Header</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>

        </div>
        </div>
{% endblock %}